%h1 Hi let's see how smart I am.

= form_tag({method: :post}, remote: true) do
  .height
    = label_tag :height, "What is your height?"
    = text_field_tag 'height'
  
  .weight
    = label_tag :weight, "How much do you weigh?"
    = text_field_tag :weight
    %span.note 
      In pounds and I promise I won't tell anyone.
    
  .submit
    = submit_tag "My turn to guess!"

  #result
