%h1 Hi let's see how smart I am.

= form_for :guess, remote: true do |f|
  .height
    = f.label :height, "What is your height?"
    = f.text_field 'height', placeholder: 'In feet or inches'
  
  .weight
    = f.label :weight, "How much do you weigh?"
    = f.text_field :weight, placeholder: 'In pounds'
    %span.note 
      and I promise I won't tell anyone.
    
  .submit
    = f.submit "My turn to guess!"

  #result
